Dependências do Node.js
Esta pasta contém todas as bibliotecas baixadas e não deve ser versionada.
/node_modules

Arquivos de sessão e cache do whatsapp-web.js
Contém informações sensíveis de login e NUNCA deve ser enviado.
/.wwebjs_auth/

Arquivos de log
Arquivos de log que podem ser gerados durante a execução.
*.log

Arquivos de ambiente
Arquivos que guardam senhas e chaves de API (boa prática incluir).
.env